* {
  margin: 0;
}
.wrapper {
  background-image: url(h_img.jpg);
  background-position: center;
  background-size: cover;
  height: 850px;
}
.welcome-text {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}
.welcome-text h1 {
  font-size: 40px;
  line-height: 60px;
}
.welcome-text p {
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  margin-left: 669px;
  margin-top: 250px;
}
.mouse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.about-us {
  text-align: center;
}
.about-us h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-us p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.services {
  background-image: url(s_image.jpg);
  color: white;
  text-align: center;
  height: 400px;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  margin-top: 90px;
}
.services h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: bold;
}
.services p {
  margin-top: 20px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
}
#what {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 50px;
}
.cards {
  display: flex;
  width: 100%;
}
.card1 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text {
  display: none;
  text-align: center;
}
.c-text h2 {
  font-family: "Roboto", sans-serif;
}
.c-text p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.card2 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text2 {
  display: none;
  text-align: center;
}
.c-text2 h2 {
  font-family: "Roboto", sans-serif;
}
.c-text2 p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.card3 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text3 {
  display: none;
  text-align: center;
}
.c-text3 h2 {
  font-family: "Roboto", sans-serif;
}
.c-text3 p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.icon1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ph1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}
.p-imgs {
  display: flex;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1.8%;
}
.p-img1 {
  background-image: url(portfolio/work1.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.p-img2 {
  background-image: url(portfolio/work2.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.p-img3 {
  background-image: url(portfolio/work3.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.p-img4 {
  background-image: url(portfolio/work4.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}

.p-img5 {
  background-image: url(portfolio/work5.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.p-img6 {
  background-image: url(portfolio/work6.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.p-img7 {
  background-image: url(portfolio/work7.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}

.p-img8 {
  background-image: url(portfolio/work8.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 22.5%;
  margin: 1%;
}
.work1 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work2 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work3 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work4 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work5 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work6 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work7 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.work8 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 50%;
  margin-left: 30%;
  display: none;
}

.wrapper2 {
  background-image: url(c_image.jpg);
  height: 590px;
  padding-top: 90px;
}
#contactus {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}

#name {
  height: 25px;
  width: 51%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

#email {
  height: 25px;
  width: 45%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-left: 2%;
}

.formd {
  width: 60%;
  margin-left: 20%;
}
.nm {
  margin-bottom: 10px;
  padding-top: 20px;
}
#message {
  height: 350px;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  text-align: top;
}
::placeholder {
  color: white;
  text-align: top;
}
#submit {
  color: transparent;
  background-color: transparent;
  border: 1px solid transparent;
}
.footerpic {
  text-align: center;
  margin-top: 40px;
}

.footerpic img {
  padding: 20px;
}
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 210px;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    display: inline;
  }
}
@media only screen and (max-width: 600px) {
  .p-imgs {
    display: inline-block;
  }
}
@media only screen and (max-width: 600px) {
  .p-img1 {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .p-img2 {
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .p-img3 {
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .p-img4 {
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .p-img5 {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .p-img6 {
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .p-img7 {
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .p-img8 {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .work1 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work2 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work3 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work4 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work5 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work6 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work7 {
    margin-top: 5px;
    margin-left: 145px;
  }
}
@media only screen and (max-width: 600px) {
  .work8 {
    margin-top: 5px;
    margin-left: 145px;
  }
}

@media only screen and (max-width: 600px) {
  .icon1 {
    margin-left: 200px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .icon2 {
    margin-left: 200px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .icon3 {
    margin-left: 200px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .card1 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .card2 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .card3 {
    width: 100%;
  }
}
