* {
  margin: 0;
}
.wrapper {
  background-image: url(h_img.jpg);
  background-position: center;
  background-size: cover;
  height: 850px;
}
.welcome-text {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}
.welcome-text h1 {
  font-size: 40px;
  line-height: 60px;
}
.welcome-text p {
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  margin-left: 669px;
  margin-top: 250px;
}
.mouse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.about-us {
  text-align: center;
}
.about-us h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-us p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.services;
