* {
  margin: 0;
}
.wrapper {
  background-image: url(h_img.jpg);
  background-position: center;
  background-size: cover;
  height: 850px;
}
.welcome-text {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}
.welcome-text h1 {
  font-size: 40px;
  line-height: 60px;
}
.welcome-text p {
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  margin-left: 669px;
  margin-top: 250px;
}
.mouse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.about-us {
  text-align: center;
}
.about-us h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-us p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.services {
  background-image: url(s_image.jpg);
  color: white;
  text-align: center;
  height: 400px;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  margin-top: 90px;
}
.services h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: bold;
}
.services p {
  margin-top: 20px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
}
#what {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 50px;
}
.cards {
  display: flex;
  width: 100%;
}
.card1 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text {
  display: none;
  text-align: center;
}
.c-text h2 {
  font-family: "Roboto", sans-serif;
}
.c-text p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.card2 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text2 {
  display: none;
  text-align: center;
}
.c-text2 h2 {
  font-family: "Roboto", sans-serif;
}
.c-text2 p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.card3 {
  width: 33.3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
}
.c-text3 {
  display: none;
  text-align: center;
}
.c-text3 h2 {
  font-family: "Roboto", sans-serif;
}
.c-text3 p {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
.icon1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
